@import "tailwindcss";
/* @plugin "daisyui"; */

@plugin "daisyui" {
  themes: light --default, dark;
}

:root, [data-theme="light"] {
  --color-primary: #c0994f;
  --color-secondary: #0c1d35;
}

[data-theme="dark"] {
  --color-primary: #c0994f;
  --color-secondary: #0c1d35;
  --color-base-100: #0c1d35;
  --color-base-200: #122442;
  --color-base-300: #182e54;
}
@layer utilities {
  .reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  
  .reveal.active {
    opacity: 1;
    transform: translateY(0);
  }
}
