@import "tailwindcss";
/* @plugin "daisyui"; */

@plugin "daisyui" {
  themes: light --default, dark;
}

:root, [data-theme="light"] {
  --color-primary: #c0994f;
  --color-secondary: #0c1d35;
}

[data-theme="dark"] {
  --color-primary: #c0994f;
  --color-secondary: #0c1d35;
  --color-base-100: #0c1d35;
  --color-base-200: #122442;
  --color-base-300: #182e54;
}
